<div class="create-listing flex-row jus-center">
  <div class="flex-col">
    <div class="flex-col input-holder">
      <label>نام</label>
      <input class="input">
    </div>
    <div class="flex-col input-holder">
      <label>نام خانوادگی</label>
      <input class="input">
    </div>
    <div class="flex-col input-holder">
      <label>شماره تلفن همراه</label>
      <input class="input">
    </div>
    <div class="flex-col input-holder">
      <label>کشور</label>
      <input class="input">
    </div>
  </div>
  <div class="flex-col">
    <div class="flex-col input-holder">
      <label>ایمیل</label>
      <input class="input">
    </div>
    <div class="flex-col input-holder">
      <label>نام کاربری</label>
      <input class="input">
    </div>
    <div class="flex-col input-holder">
      <label>رمز عبور</label>
      <input class="input">
    </div>
    <div class="flex-col input-holder">
      <label>تکرار رمز عبور</label>
      <input class="input">
    </div>
  </div>
</div>
