.create-listing {
  height: calc(100vh);
  font-family: "IRANSans",sans-serif !important;
  padding: 80px 0px;
}
.input-holder {
  margin: 6px 12px;
  label {
    margin-right: 12px;
  }
  .input {
    width: 250px;
  }
}

