@charset "UTF-8";
body {
  direction: rtl;
  border-style: none;
}
body a {
  text-decoration: none;
  color: inherit;
}
body a:hover {
  text-decoration: none;
  cursor: pointer;
}

.input {
  margin: 4px;
  height: 32px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #9F9F9F;
  padding: 0px 16px 0px 0px;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.al-center {
  align-items: center;
}

.jus-center {
  justify-content: center;
}

.wi-100 {
  width: 100%;
  max-width: 100%;
}

.wi-50 {
  width: 100%;
  max-width: 100%;
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}
@media screen and (max-width: 1440px) {
  .container {
    width: 1220px;
  }
}
@media screen and (max-width: 1224px) {
  .container {
    width: 980px;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    width: 750px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 95%;
  }
}
@media screen and (max-width: 425px) {
  .container {
    width: 95%;
  }
}
@media screen and (max-width: 375px) {
  .container {
    width: 95%;
  }
}
@media screen and (max-width: 320px) {
  .hidden-s {
    display: none !important;
  }

  .container {
    width: 95%;
  }
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url("../../fonts/fonts/eot/IRANSansWeb_Bold.eot");
  src: url("../../fonts/fonts/eot/IRANSansWeb_Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/fonts/woff2/IRANSansWeb_Bold.woff2") format("woff2"), url("../../fonts/fonts/woff/IRANSansWeb_Bold.woff") format("woff"), url("../../fonts/fonts/ttf/IRANSansWeb_Bold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/fonts/eot/IRANSansWeb_Medium.eot");
  src: url("../../fonts/fonts/eot/IRANSansWeb_Medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/fonts/woff2/IRANSansWeb_Medium.woff2") format("woff2"), url("../../fonts/fonts/woff/IRANSansWeb_Medium.woff") format("woff"), url("../../fonts/fonts/ttf/IRANSansWeb_Medium.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/fonts/eot/IRANSansWeb.eot");
  src: url("../../fonts/fonts/eot/IRANSansWeb.eot?#iefix") format("embedded-opentype"), url("../../fonts/fonts/woff2/IRANSansWeb.woff2") format("woff2"), url("../../fonts/fonts/woff/IRANSansWeb.woff") format("woff"), url("../../fonts/fonts/ttf/IRANSansWeb.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url("../../fonts/fonts/eot/IRANSansWeb_Light.eot");
  src: url("../../fonts/fonts/eot/IRANSansWeb_Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/fonts/woff2/IRANSansWeb_Light.woff2") format("woff2"), url("../../fonts/fonts/woff/IRANSansWeb_Light.woff") format("woff"), url("../../fonts/fonts/ttf/IRANSansWeb_Light.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 100;
  src: url("../../fonts/fonts/eot/IRANSansWeb_UltraLight.eot");
  src: url("../../fonts/fonts/eot/IRANSansWeb_UltraLight.eot?#iefix") format("embedded-opentype"), url("../../fonts/fonts/woff2/IRANSansWeb_UltraLight.woff2") format("woff2"), url("../../fonts/fonts/woff/IRANSansWeb_UltraLight.woff") format("woff"), url("../../fonts/fonts/ttf/IRANSansWeb_UltraLight.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "fontello";
  src: url("../../../assets/fonts/fontello/font/fontello.eot?68777910");
  src: url("../../../assets/fonts/fontello/font/fontello.eot?68777910#iefix") format("embedded-opentype"), url("../../../assets/fonts/fontello/font/fontello.woff2?68777910") format("woff2"), url("../../../assets/fonts/fontello/font/fontello.woff?68777910") format("woff"), url("../../../assets/fonts/fontello/font/fontello.ttf?68777910") format("truetype"), url("../../../assets/fonts/fontello/font/fontello.svg?68777910#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^=icon-]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-noun_search_897913:before {
  content: "";
}

.icon-noun_speedometer_145001:before {
  content: "";
}

.icon-noun_calendar_1550456:before {
  content: "";
}

.icon-noun_car_258936:before {
  content: "";
}

.icon-noun_check_2422615:before {
  content: "";
}

.icon-noun_phone_1979758:before {
  content: "";
}

.landing-button {
  border-style: none;
  color: #2A2A2A;
  background-color: #FCDD34;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font-size: 18px;
  line-height: 34px;
  font-weight: bold;
  width: 143px;
  height: 40px;
  cursor: pointer;
}

.secondary-button {
  border-style: none;
  color: #FFFFFF;
  background-color: #C62B33;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font-size: 16px;
  line-height: 34px;
  width: 143px;
  height: 40px;
  cursor: pointer;
}

.link-button {
  background-color: initial !important;
  color: #1D04FC;
  font-size: 14px;
  line-height: 34px;
  cursor: pointer;
  border: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  font-family: "IRANSans", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  padding: 0;
  margin: 0;
  background-color: #FFFFFF;
}
body input {
  font-family: "IRANSans";
}
body button {
  font-family: "IRANSans";
}
body textarea {
  font-family: "IRANSans";
}

.wi-5 {
  width: 5%;
  min-width: 5%;
}

.wi-10 {
  width: 10%;
  min-width: 10%;
}

.wi-15 {
  width: 15%;
  min-width: 15%;
}

.wi-20 {
  width: 20%;
  min-width: 20%;
}

.wi-25 {
  width: 25%;
  min-width: 25%;
}

.wi-30 {
  width: 30%;
  min-width: 30%;
}

.wi-35 {
  width: 35%;
  min-width: 35%;
}

.wi-40 {
  width: 40%;
  min-width: 40%;
}

.wi-45 {
  width: 45%;
  min-width: 45%;
}

.wi-50 {
  width: 50%;
  min-width: 50%;
}

.wi-55 {
  width: 55%;
  min-width: 55%;
}

.wi-60 {
  width: 60%;
  min-width: 60%;
}

.wi-65 {
  width: 65%;
  min-width: 65%;
}

.wi-70 {
  width: 70%;
  min-width: 70%;
}

.wi-75 {
  width: 75%;
  min-width: 75%;
}

.wi-80 {
  width: 80%;
  min-width: 80%;
}

.wi-85 {
  width: 85%;
  min-width: 85%;
}

.wi-90 {
  width: 90%;
  min-width: 90%;
}

.wi-95 {
  width: 95%;
  min-width: 95%;
}

.wi-100 {
  width: 100%;
  min-width: 100%;
}

.wi-33 {
  width: 33.3333333333%;
  min-width: 33.3333333333%;
}

.wi-66 {
  width: 66.6666666667%;
  min-width: 66.6666666667%;
}

.wi-99 {
  width: 100%;
  min-width: 100%;
}

.hi-5 {
  height: 5%;
  min-height: 5%;
}

.hi-10 {
  height: 10%;
  min-height: 10%;
}

.hi-15 {
  height: 15%;
  min-height: 15%;
}

.hi-20 {
  height: 20%;
  min-height: 20%;
}

.hi-25 {
  height: 25%;
  min-height: 25%;
}

.hi-30 {
  height: 30%;
  min-height: 30%;
}

.hi-35 {
  height: 35%;
  min-height: 35%;
}

.hi-40 {
  height: 40%;
  min-height: 40%;
}

.hi-45 {
  height: 45%;
  min-height: 45%;
}

.hi-50 {
  height: 50%;
  min-height: 50%;
}

.hi-55 {
  height: 55%;
  min-height: 55%;
}

.hi-60 {
  height: 60%;
  min-height: 60%;
}

.hi-65 {
  height: 65%;
  min-height: 65%;
}

.hi-70 {
  height: 70%;
  min-height: 70%;
}

.hi-75 {
  height: 75%;
  min-height: 75%;
}

.hi-80 {
  height: 80%;
  min-height: 80%;
}

.hi-85 {
  height: 85%;
  min-height: 85%;
}

.hi-90 {
  height: 90%;
  min-height: 90%;
}

.hi-95 {
  height: 95%;
  min-height: 95%;
}

.hi-100 {
  height: 100%;
  min-height: 100%;
}

.hi-33 {
  height: 33.3333333333%;
  min-height: 33.3333333333%;
}

.hi-66 {
  height: 66.6666666667%;
  min-height: 66.6666666667%;
}

.hi-99 {
  height: 100%;
  min-height: 100%;
}

@media screen and (min-width: 1440px) {
  .wi-4k-5 {
    width: 5%;
    min-width: 5%;
  }

  .wi-4k-10 {
    width: 10%;
    min-width: 10%;
  }

  .wi-4k-15 {
    width: 15%;
    min-width: 15%;
  }

  .wi-4k-20 {
    width: 20%;
    min-width: 20%;
  }

  .wi-4k-25 {
    width: 25%;
    min-width: 25%;
  }

  .wi-4k-30 {
    width: 30%;
    min-width: 30%;
  }

  .wi-4k-35 {
    width: 35%;
    min-width: 35%;
  }

  .wi-4k-40 {
    width: 40%;
    min-width: 40%;
  }

  .wi-4k-45 {
    width: 45%;
    min-width: 45%;
  }

  .wi-4k-50 {
    width: 50%;
    min-width: 50%;
  }

  .wi-4k-55 {
    width: 55%;
    min-width: 55%;
  }

  .wi-4k-60 {
    width: 60%;
    min-width: 60%;
  }

  .wi-4k-65 {
    width: 65%;
    min-width: 65%;
  }

  .wi-4k-70 {
    width: 70%;
    min-width: 70%;
  }

  .wi-4k-75 {
    width: 75%;
    min-width: 75%;
  }

  .wi-4k-80 {
    width: 80%;
    min-width: 80%;
  }

  .wi-4k-85 {
    width: 85%;
    min-width: 85%;
  }

  .wi-4k-90 {
    width: 90%;
    min-width: 90%;
  }

  .wi-4k-95 {
    width: 95%;
    min-width: 95%;
  }

  .wi-4k-100 {
    width: 100%;
    min-width: 100%;
  }

  .wi-4k-33 {
    width: 33.3333333333%;
    min-width: 33.3333333333%;
  }

  .wi-4k-66 {
    width: 66.6666666667%;
    min-width: 66.6666666667%;
  }

  .wi-4k-99 {
    width: 100%;
    min-width: 100%;
  }

  .hi-4k-5 {
    height: 5%;
    min-height: 5%;
  }

  .hi-4k-10 {
    height: 10%;
    min-height: 10%;
  }

  .hi-4k-15 {
    height: 15%;
    min-height: 15%;
  }

  .hi-4k-20 {
    height: 20%;
    min-height: 20%;
  }

  .hi-4k-25 {
    height: 25%;
    min-height: 25%;
  }

  .hi-4k-30 {
    height: 30%;
    min-height: 30%;
  }

  .hi-4k-35 {
    height: 35%;
    min-height: 35%;
  }

  .hi-4k-40 {
    height: 40%;
    min-height: 40%;
  }

  .hi-4k-45 {
    height: 45%;
    min-height: 45%;
  }

  .hi-4k-50 {
    height: 50%;
    min-height: 50%;
  }

  .hi-4k-55 {
    height: 55%;
    min-height: 55%;
  }

  .hi-4k-60 {
    height: 60%;
    min-height: 60%;
  }

  .hi-4k-65 {
    height: 65%;
    min-height: 65%;
  }

  .hi-4k-70 {
    height: 70%;
    min-height: 70%;
  }

  .hi-4k-75 {
    height: 75%;
    min-height: 75%;
  }

  .hi-4k-80 {
    height: 80%;
    min-height: 80%;
  }

  .hi-4k-85 {
    height: 85%;
    min-height: 85%;
  }

  .hi-4k-90 {
    height: 90%;
    min-height: 90%;
  }

  .hi-4k-95 {
    height: 95%;
    min-height: 95%;
  }

  .hi-4k-100 {
    height: 100%;
    min-height: 100%;
  }

  .hi-4k-33 {
    height: 33.3333333333%;
    min-height: 33.3333333333%;
  }

  .hi-4k-66 {
    height: 66.6666666667%;
    min-height: 66.6666666667%;
  }

  .hi-4k-99 {
    height: 100%;
    min-height: 100%;
  }
}
@media screen and (max-width: 1440px) {
  .wi-xxl-5 {
    width: 5%;
    min-width: 5%;
  }

  .wi-xxl-10 {
    width: 10%;
    min-width: 10%;
  }

  .wi-xxl-15 {
    width: 15%;
    min-width: 15%;
  }

  .wi-xxl-20 {
    width: 20%;
    min-width: 20%;
  }

  .wi-xxl-25 {
    width: 25%;
    min-width: 25%;
  }

  .wi-xxl-30 {
    width: 30%;
    min-width: 30%;
  }

  .wi-xxl-35 {
    width: 35%;
    min-width: 35%;
  }

  .wi-xxl-40 {
    width: 40%;
    min-width: 40%;
  }

  .wi-xxl-45 {
    width: 45%;
    min-width: 45%;
  }

  .wi-xxl-50 {
    width: 50%;
    min-width: 50%;
  }

  .wi-xxl-55 {
    width: 55%;
    min-width: 55%;
  }

  .wi-xxl-60 {
    width: 60%;
    min-width: 60%;
  }

  .wi-xxl-65 {
    width: 65%;
    min-width: 65%;
  }

  .wi-xxl-70 {
    width: 70%;
    min-width: 70%;
  }

  .wi-xxl-75 {
    width: 75%;
    min-width: 75%;
  }

  .wi-xxl-80 {
    width: 80%;
    min-width: 80%;
  }

  .wi-xxl-85 {
    width: 85%;
    min-width: 85%;
  }

  .wi-xxl-90 {
    width: 90%;
    min-width: 90%;
  }

  .wi-xxl-95 {
    width: 95%;
    min-width: 95%;
  }

  .wi-xxl-100 {
    width: 100%;
    min-width: 100%;
  }

  .wi-xxl-33 {
    width: 33.3333333333%;
    min-width: 33.3333333333%;
  }

  .wi-xxl-66 {
    width: 66.6666666667%;
    min-width: 66.6666666667%;
  }

  .wi-xxl-99 {
    width: 100%;
    min-width: 100%;
  }

  .hi-xxl-5 {
    height: 5%;
    min-height: 5%;
  }

  .hi-xxl-10 {
    height: 10%;
    min-height: 10%;
  }

  .hi-xxl-15 {
    height: 15%;
    min-height: 15%;
  }

  .hi-xxl-20 {
    height: 20%;
    min-height: 20%;
  }

  .hi-xxl-25 {
    height: 25%;
    min-height: 25%;
  }

  .hi-xxl-30 {
    height: 30%;
    min-height: 30%;
  }

  .hi-xxl-35 {
    height: 35%;
    min-height: 35%;
  }

  .hi-xxl-40 {
    height: 40%;
    min-height: 40%;
  }

  .hi-xxl-45 {
    height: 45%;
    min-height: 45%;
  }

  .hi-xxl-50 {
    height: 50%;
    min-height: 50%;
  }

  .hi-xxl-55 {
    height: 55%;
    min-height: 55%;
  }

  .hi-xxl-60 {
    height: 60%;
    min-height: 60%;
  }

  .hi-xxl-65 {
    height: 65%;
    min-height: 65%;
  }

  .hi-xxl-70 {
    height: 70%;
    min-height: 70%;
  }

  .hi-xxl-75 {
    height: 75%;
    min-height: 75%;
  }

  .hi-xxl-80 {
    height: 80%;
    min-height: 80%;
  }

  .hi-xxl-85 {
    height: 85%;
    min-height: 85%;
  }

  .hi-xxl-90 {
    height: 90%;
    min-height: 90%;
  }

  .hi-xxl-95 {
    height: 95%;
    min-height: 95%;
  }

  .hi-xxl-100 {
    height: 100%;
    min-height: 100%;
  }

  .hi-xxl-33 {
    height: 33.3333333333%;
    min-height: 33.3333333333%;
  }

  .hi-xxl-66 {
    height: 66.6666666667%;
    min-height: 66.6666666667%;
  }

  .hi-xxl-99 {
    height: 100%;
    min-height: 100%;
  }
}
@media screen and (max-width: 1224px) {
  .wi-xl-5 {
    width: 5%;
    min-width: 5%;
  }

  .wi-xl-10 {
    width: 10%;
    min-width: 10%;
  }

  .wi-xl-15 {
    width: 15%;
    min-width: 15%;
  }

  .wi-xl-20 {
    width: 20%;
    min-width: 20%;
  }

  .wi-xl-25 {
    width: 25%;
    min-width: 25%;
  }

  .wi-xl-30 {
    width: 30%;
    min-width: 30%;
  }

  .wi-xl-35 {
    width: 35%;
    min-width: 35%;
  }

  .wi-xl-40 {
    width: 40%;
    min-width: 40%;
  }

  .wi-xl-45 {
    width: 45%;
    min-width: 45%;
  }

  .wi-xl-50 {
    width: 50%;
    min-width: 50%;
  }

  .wi-xl-55 {
    width: 55%;
    min-width: 55%;
  }

  .wi-xl-60 {
    width: 60%;
    min-width: 60%;
  }

  .wi-xl-65 {
    width: 65%;
    min-width: 65%;
  }

  .wi-xl-70 {
    width: 70%;
    min-width: 70%;
  }

  .wi-xl-75 {
    width: 75%;
    min-width: 75%;
  }

  .wi-xl-80 {
    width: 80%;
    min-width: 80%;
  }

  .wi-xl-85 {
    width: 85%;
    min-width: 85%;
  }

  .wi-xl-90 {
    width: 90%;
    min-width: 90%;
  }

  .wi-xl-95 {
    width: 95%;
    min-width: 95%;
  }

  .wi-xl-100 {
    width: 100%;
    min-width: 100%;
  }

  .wi-xl-33 {
    width: 33.3333333333%;
    min-width: 33.3333333333%;
  }

  .wi-xl-66 {
    width: 66.6666666667%;
    min-width: 66.6666666667%;
  }

  .wi-xl-99 {
    width: 100%;
    min-width: 100%;
  }

  .hi-xl-5 {
    height: 5%;
    min-height: 5%;
  }

  .hi-xl-10 {
    height: 10%;
    min-height: 10%;
  }

  .hi-xl-15 {
    height: 15%;
    min-height: 15%;
  }

  .hi-xl-20 {
    height: 20%;
    min-height: 20%;
  }

  .hi-xl-25 {
    height: 25%;
    min-height: 25%;
  }

  .hi-xl-30 {
    height: 30%;
    min-height: 30%;
  }

  .hi-xl-35 {
    height: 35%;
    min-height: 35%;
  }

  .hi-xl-40 {
    height: 40%;
    min-height: 40%;
  }

  .hi-xl-45 {
    height: 45%;
    min-height: 45%;
  }

  .hi-xl-50 {
    height: 50%;
    min-height: 50%;
  }

  .hi-xl-55 {
    height: 55%;
    min-height: 55%;
  }

  .hi-xl-60 {
    height: 60%;
    min-height: 60%;
  }

  .hi-xl-65 {
    height: 65%;
    min-height: 65%;
  }

  .hi-xl-70 {
    height: 70%;
    min-height: 70%;
  }

  .hi-xl-75 {
    height: 75%;
    min-height: 75%;
  }

  .hi-xl-80 {
    height: 80%;
    min-height: 80%;
  }

  .hi-xl-85 {
    height: 85%;
    min-height: 85%;
  }

  .hi-xl-90 {
    height: 90%;
    min-height: 90%;
  }

  .hi-xl-95 {
    height: 95%;
    min-height: 95%;
  }

  .hi-xl-100 {
    height: 100%;
    min-height: 100%;
  }

  .hi-xl-33 {
    height: 33.3333333333%;
    min-height: 33.3333333333%;
  }

  .hi-xl-66 {
    height: 66.6666666667%;
    min-height: 66.6666666667%;
  }

  .hi-xl-99 {
    height: 100%;
    min-height: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .wi-l-5 {
    width: 5%;
    min-width: 5%;
  }

  .wi-l-10 {
    width: 10%;
    min-width: 10%;
  }

  .wi-l-15 {
    width: 15%;
    min-width: 15%;
  }

  .wi-l-20 {
    width: 20%;
    min-width: 20%;
  }

  .wi-l-25 {
    width: 25%;
    min-width: 25%;
  }

  .wi-l-30 {
    width: 30%;
    min-width: 30%;
  }

  .wi-l-35 {
    width: 35%;
    min-width: 35%;
  }

  .wi-l-40 {
    width: 40%;
    min-width: 40%;
  }

  .wi-l-45 {
    width: 45%;
    min-width: 45%;
  }

  .wi-l-50 {
    width: 50%;
    min-width: 50%;
  }

  .wi-l-55 {
    width: 55%;
    min-width: 55%;
  }

  .wi-l-60 {
    width: 60%;
    min-width: 60%;
  }

  .wi-l-65 {
    width: 65%;
    min-width: 65%;
  }

  .wi-l-70 {
    width: 70%;
    min-width: 70%;
  }

  .wi-l-75 {
    width: 75%;
    min-width: 75%;
  }

  .wi-l-80 {
    width: 80%;
    min-width: 80%;
  }

  .wi-l-85 {
    width: 85%;
    min-width: 85%;
  }

  .wi-l-90 {
    width: 90%;
    min-width: 90%;
  }

  .wi-l-95 {
    width: 95%;
    min-width: 95%;
  }

  .wi-l-100 {
    width: 100%;
    min-width: 100%;
  }

  .wi-l-33 {
    width: 33.3333333333%;
    min-width: 33.3333333333%;
  }

  .wi-l-66 {
    width: 66.6666666667%;
    min-width: 66.6666666667%;
  }

  .wi-l-99 {
    width: 100%;
    min-width: 100%;
  }

  .hi-l-5 {
    height: 5%;
    min-height: 5%;
  }

  .hi-l-10 {
    height: 10%;
    min-height: 10%;
  }

  .hi-l-15 {
    height: 15%;
    min-height: 15%;
  }

  .hi-l-20 {
    height: 20%;
    min-height: 20%;
  }

  .hi-l-25 {
    height: 25%;
    min-height: 25%;
  }

  .hi-l-30 {
    height: 30%;
    min-height: 30%;
  }

  .hi-l-35 {
    height: 35%;
    min-height: 35%;
  }

  .hi-l-40 {
    height: 40%;
    min-height: 40%;
  }

  .hi-l-45 {
    height: 45%;
    min-height: 45%;
  }

  .hi-l-50 {
    height: 50%;
    min-height: 50%;
  }

  .hi-l-55 {
    height: 55%;
    min-height: 55%;
  }

  .hi-l-60 {
    height: 60%;
    min-height: 60%;
  }

  .hi-l-65 {
    height: 65%;
    min-height: 65%;
  }

  .hi-l-70 {
    height: 70%;
    min-height: 70%;
  }

  .hi-l-75 {
    height: 75%;
    min-height: 75%;
  }

  .hi-l-80 {
    height: 80%;
    min-height: 80%;
  }

  .hi-l-85 {
    height: 85%;
    min-height: 85%;
  }

  .hi-l-90 {
    height: 90%;
    min-height: 90%;
  }

  .hi-l-95 {
    height: 95%;
    min-height: 95%;
  }

  .hi-l-100 {
    height: 100%;
    min-height: 100%;
  }

  .hi-l-33 {
    height: 33.3333333333%;
    min-height: 33.3333333333%;
  }

  .hi-l-66 {
    height: 66.6666666667%;
    min-height: 66.6666666667%;
  }

  .hi-l-99 {
    height: 100%;
    min-height: 100%;
  }
}
@media screen and (max-width: 768px) {
  .wi-m-5 {
    width: 5%;
    min-width: 5%;
  }

  .wi-m-10 {
    width: 10%;
    min-width: 10%;
  }

  .wi-m-15 {
    width: 15%;
    min-width: 15%;
  }

  .wi-m-20 {
    width: 20%;
    min-width: 20%;
  }

  .wi-m-25 {
    width: 25%;
    min-width: 25%;
  }

  .wi-m-30 {
    width: 30%;
    min-width: 30%;
  }

  .wi-m-35 {
    width: 35%;
    min-width: 35%;
  }

  .wi-m-40 {
    width: 40%;
    min-width: 40%;
  }

  .wi-m-45 {
    width: 45%;
    min-width: 45%;
  }

  .wi-m-50 {
    width: 50%;
    min-width: 50%;
  }

  .wi-m-55 {
    width: 55%;
    min-width: 55%;
  }

  .wi-m-60 {
    width: 60%;
    min-width: 60%;
  }

  .wi-m-65 {
    width: 65%;
    min-width: 65%;
  }

  .wi-m-70 {
    width: 70%;
    min-width: 70%;
  }

  .wi-m-75 {
    width: 75%;
    min-width: 75%;
  }

  .wi-m-80 {
    width: 80%;
    min-width: 80%;
  }

  .wi-m-85 {
    width: 85%;
    min-width: 85%;
  }

  .wi-m-90 {
    width: 90%;
    min-width: 90%;
  }

  .wi-m-95 {
    width: 95%;
    min-width: 95%;
  }

  .wi-m-100 {
    width: 100%;
    min-width: 100%;
  }

  .wi-m-33 {
    width: 33.3333333333%;
    min-width: 33.3333333333%;
  }

  .wi-m-66 {
    width: 66.6666666667%;
    min-width: 66.6666666667%;
  }

  .wi-m-99 {
    width: 100%;
    min-width: 100%;
  }
}

/*# sourceMappingURL=layout-mashin.css.map */
